<%= form_with(model: job) do |form| %>

  <% if job.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 
<center><div class="card text-center shadow gradient-custom-2" style="width: 50rem;color:white">
  <div class="card-text field form-outline px-3 py-4 mx-md-4">
  <b> <%= form.label :job_title, style: "display: block;width:85%" %></b>
    <%= form.text_field :job_title%> 
  </div>

  <div class="card-text field form-outline px-3 py-4 mx-md-4">
  <b> <%= form.label :company_name, style: "display: block;width:90%" %></b>
    <%= form.text_field :company_name%> 
  </div>

  <div class="card-text px-3 py-4 mx-md-4">
   <b> <%= form.label :skills, style: "display: block;width:80%" %></b>
    <%= form.text_area :skills %>
  </div>

  <div class="card-text field form-outline px-3 py-4 mx-md-4">
  <b>  <%= form.label :job_description, style: "display: block;width:90%" %></b>
    <%= form.text_area :job_description %>
  </div>

  <div class="card-text field form-outline px-3 py-4 mx-md-4">
  <b> <%= form.label :pay, style: "display: block;width:80%" %></b>
    <%= form.text_field :pay%> 
  </div>

  <div class="card-text field px-3 py-4 mx-md-4">
  <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="card-text field mb-4 px-3 py-0 mx-md-4" >
   <b> <%= form.label :job_type, style: "display: block;width:90%" %></b>
   <%= form.select :job_type, ['FullTime', 'Internship'], selected: 'FullTime' %>
  </div>

  <div class="card-text field form-outline mb-4 px-3 py-0 mx-md-4" >
    <%= form.submit "Create Job",class:"btn btn-outline-warning"%>
    <br>
  </div>
  </div>
</div></b></center>
<% end %>
