<div id="<%= dom_id job %>">
  <p>
    <strong>Job title:</strong>
    <%= job.job_title %>
  </p>

  <p>
    <strong>Skills:</strong>
    <%= job.skills %>
  </p>

  <p>
    <strong>Job description:</strong>
    <%= job.job_description %>
  </p>

  <p>
    <strong>Job type:</strong>
    <%= job.job_type %>
  </p>

</div>
