<div id="<%= dom_id job %>">

<center><br><br><div class="card" style="width: 50rem;">
<div class="card-body">
  
  <h3 class="card-title">Job title: 
    <%= job.job_title %></h3>

  <p class="card-text"> <strong>Skills:</strong>
  <%= job.skills %></p>
   
  <p class="card-text">
    <strong>Job description:</strong>
    <%= job.job_description %>
  </p>

  <p class="card-text">
    <strong>Job type:</strong>
    <%= job.job_type %>
  </p>
</div>
</div></center>
</div>

  
    
    
  