<p style="color: green"><%= notice %></p>
<%= render 'home/header'%>

<div id="jobs">
  <% @jobs.each do |job| %>
    <%= render job %>
      <%if current_user.usertype == "Recruiter" %>
        <div class="d-grid gap-2 col-6 mx-auto">
          <%= link_to "Show this job", job ,class:"btn btn-primary btn-dark" %>
        </div>
      <br><br>
      <%end%>
    <%if current_user.usertype == "Candidate" %>
      <div class="d-grid gap-2 col-6 mx-auto">
      <%= link_to "Apply for this job", apply_path(job.id),class:"btn btn-primary btn-dark" %><br><br>
      </div>
    <%end%>
  <% end %>
</div>

<%if current_user.usertype == "Recruiter" %>
<%= link_to "New Job", new_job_path , class:"btn btn-dark"%>
<% end%>



<%= link_to "Sign out", destroy_user_session_path,data: {"turbo-method": :delete}, class: "link-secondarysmooth" %>

