<%= render 'home/header'%>

<section class="h-100 gradient-form" style="background-color: #eee;">
<div class="col-lg-12 d-flex align-items-center" style="background-color:#583759;" >
              <div class="text-white px-3 py-4 p-md-5 mx-md-4 ">
              <h1 class="mb-4">WELCOME TO</h1>
              <h2 class="mb-4">Get-A-Job</h2>
              <p class="small mb-0">A jobsite for campus hiring.</p>
              </div>           
  <div class="container ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-30">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
          
            <div class="col-lg-7">
              <div class="card-body">

              <div class="container">
              <img src='/assets/company4.webp' style="width:1250px;height:800px;">
              </div>
              </div>
            </div>
            <div class="col-lg-12 d-flex align-items-center" style="background-color:#7E354D;background-image: url('/assets/company6.png');background-size: 1000px 400px">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
              <h1 class="mb-4">BUILD YOUR CAREER</h1>
              <h1 class="mb-4">WITH US</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%if false%>
<% @homejobs.each do |job| %>
 <b>Job Title : </b><%= job.job_title %><br>
    <b>Skills : </b><%= job.skills %><br>
    <b>Job Description : </b><%= job.job_description %><br>
    <b>Job Type : </b><%= job.job_type %><br><br>
    <b>Job ID : </b><%= job.id %><br><br>
    <%if current_user.usertype == "Recruiter" %>
    <%= link_to "Show this job", job %>
    <br><br>
    <h4>Job Applications</h4>
    <% @appliedjobs.each do |appliedjob| %>
        <%if job.id==appliedjob.job_id %>
        <%= link_to "View Job Application", appliedjob %><br><br>
        <%end%>
     <%end%>
    <br><br>
    <%end%>
    <%if current_user.usertype == "Candidate" %>
    <%= link_to "Apply for this job", apply_path(job.id) %><br><br>
    <%end%>
<% end %>

    <%if current_user.usertype == "Recruiter" %>
        <%= link_to "New Job", new_job_path %>
    <% end%>
  
<%if current_user.usertype == "Candidate" %>
<h4>My Jobs</h4>
<% @appliedjobs.each do |job| %>
    <%= job.job.job_title %> 
    <%= job.status.nil? ? "Pending" : job.status %><br>
<%end%>    
<%end%>

<%= link_to "Sign out", destroy_user_session_path,data: {"turbo-method": :delete}, class: "link-secondarysmooth" %>
<%end%>