<%= render 'home/header'%>
<div id="<%= dom_id appliedjob %>">

  <center><br><br><div class="card shadow gradient-custom-2" style="width: 55rem;color:white;">
  <div class="card-body">
    
    <p class="card-text"> <strong>Resume:</strong>
    <% if appliedjob.resume.image?%>
      <%= image_tag appliedjob.resume%>
    <%else%>
      <%= link_to appliedjob.resume.filename, rails_blob_path(appliedjob.resume,disposition: "attachment")%>  
    <%end%> </p>
     
    <p class="card-text">
      <strong>Job:</strong>
      <%= appliedjob.job.job_title  %>
    </p>
  
    <p class="card-text">
      <strong>Contact:</strong>
      <%= appliedjob.user.email %>
    </p>

    <%if current_user.usertype == "Recruiter" %>
  <%= form_with(model: appliedjob) do |form| %>
    <div class="card-text">
    <strong><%= form.label :status %> :</strong>
    <%= form.select :status, ['Accept', 'Reject'], selected: 'Accept' %>
  </div>
  <div class="card-text">
  <br>
    <%= form.submit "Update Status" ,class:"btn btn-primary",style: "background-color:#4863A0;color:white"%>
  </div>
  
  <%end%>
  <%end%>

  <p class="card-text">
      <strong>Status:</strong>
      <%= appliedjob.status.nil? ? "Pending" : appliedjob.status %>
    </p>
    </div>
  </div></center>
 </div>
