<%= render @appliedjob %>
<p style="color: green"><%= notice %></p>

<br><br>
<div>
<%if current_user.usertype == "Candidate" %>
<center>
  <%= link_to "Edit", edit_appliedjob_path(@appliedjob),class:"btn btn-warning"%> |
  
  <%= link_to "Back", jobs_path,class:"btn btn-warning" %>
</center>
<%if false%>
  <%= button_to "Destroy this appliedjob", @appliedjob, method: :delete %>
<%end%>  
<%end%>

<%if current_user.usertype == "Recruiter" %>
<br>
<center><%= link_to "Back to job", job_path(@appliedjob.job_id),class:"btn btn-warning" %><br><br></center>
<%end%>
</div>
